

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
p,small,ul{
    margin:0;
    padding:0;
}
ul{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.margin-sm-t{
    margin-top:2rem;
}
.margin-md-t{
    margin-top:4.5rem;
}
.margin-lg-t{
    margin-top:8rem;
}

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'components/header';
@import 'components/footer';
@import 'partials/home';