header{
    width: 100%;
    height:12vh;
    background-color: white;
    .header-container{
        max-width: 85%;
        margin:0 auto;
        display: flex;
        @include d-flex(space-between,center);
        .logo{
            font-size:5rem;
            font-weight: 800;
            color:$main-txt;
            font-family: 'Fredoka One', cursive;
            span{
                color:$main-color;
            }
        }
        nav{
            .main-menu {
                display: flex;
                @include d-flex(none,center);
                li{
                    margin-right:6rem;
                    a{
                        font-size:1.8rem;
                        font-weight: 400;
                        padding-bottom: .3rem;
                        color:$main-txt;
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            bottom:0;
                            left:0;
                            width: 0%;
                            height:.2rem;
                            background: $main-color;
                            transition: width .3s linear;
                        }
                    }
                    .login {
                        @include cust-btn();
                    }
                    &:hover a::before{
                        width: 100%;
                    }
                }
                li:last-child{
                    margin-right:0rem;
                }
            }
        }
    }
}
header.scroll-header{
    background-color: $main-color;
    transition: all .3s linear;
    .header-container{
        padding-bottom: 1.5rem!important;
        .logo{
           
            color:white!important;
           
            span{
                color:$main-txt;
            }
        }
        nav{
            .main-menu{
                li{
                    a{
                        color:white;
                    }
                    .login{
                        background-color: white;
                        color:$main-color!important;
                        &:hover{
                            color:white!important;
                        }
                    }
                }
            }
        }
       
    }
}