.hero{
    width: 100%;
    margin-top: 10rem!important;
    margin-bottom: 6rem;
    .hero-content{
        h1 {
            font-size: 5rem;
            font-weight: 800;
        }
        p{
            margin:1.5rem 0 2.2rem 0;
            font-size:2rem;
            color:$main-txt;
            opacity: .7;
        }
        .get-ticket{
            @include cust-btn();
        }
    }
}
.about{
    .about-content{
        h2{
            font-size: 4rem;
            font-weight: 800;
            color:$main-txt;
        }
        p{
            margin:1.5rem 0 2.2rem 0;
            font-size:2rem;
            color:$main-txt;
            opacity: .7;
        }
        .btn-group{
            .learn-more{
                @include cust-btn();
            }
            .watch_btn{
                margin-left:2.8rem;
                display: flex;
                align-items: center;
                color:$main-txt;
                i{  
                    font-size: 4.2rem;
                    color:$main-color;
                    cursor: pointer;
                    &:hover{
                        color:$main-txt;
                    }
                }
                a{
                    color:$main-txt;
                    margin-left: 1rem;
                    font-size:1.8rem;
                }
            }
        }
       
    }
}


.speakers{
    width: 100%;
    margin-top:8rem;
    margin-bottom: 8rem;
    .heading{
        @include heading_2();
    }
    .speaker-card{
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            transition:  transform .4s linear;
        }
        .speaker-card-overlay{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height:100%;
            background-color: #9b59b691;
            padding: 2.5rem;
            visibility: hidden;
            transition: visibility .4s linear;
           .speaker-card-overlay-inner{
               width: 100%;
               height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all .2s linear;
            .social-icon {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                i{
                    font-size:1.5rem;
                    color:white;
                    margin-right:2rem;
                }
                i:last-child{
                    margin-right: 0rem;
                }
             }
             .overlay-content > h3 {
                font-size: 2.5rem;
                letter-spacing: 1px;
                font-weight: 700;
                color: white;
            }
            .overlay-content > h4 {
                font-size: 1.5rem;
                letter-spacing: 1px;
                font-weight: 500;
                color: white;
            }
           }
         
        }
        &:hover > img{
            transform: scale(1.2);
        }
        &:hover .speaker-card-overlay-inner{
           transform:scale(.9)
        }
        &:hover .speaker-card-overlay{
            visibility: visible;
        }
    }
}




.schedule{
    width: 100%;
    margin-top:8rem;
    margin-bottom: 8rem;
    .heading{
        @include heading_2();
        
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff!important;
        background-color: $main-color!important;
    }
    .nav-pills .nav-link.active  > h3{
        color:white!important;
    }
    .nav-pills .nav-link.active  > span{
        color:white!important;
    }
    // .nav-pills .nav-link.active .schedule_card > span{
    //     color:white!important;
    // }
    .schedule_card{
        border:1px solid $main-color;
        background-color: white;
        border-radius: 0rem!important;
        position: relative;
        h3 {
            font-size: 2.3rem;
            color:gray;
            
            span{
                font-weight: 600;
                color:black;
                margin-right:1.5rem;
                opacity: 1!important;
            }
        }
        .caption{
            position: absolute;
            background: $main-color;
            clip-path: polygon(0 0, 50% 50%, 100% 0);
            width: 5rem;
            height: 5rem;
            left: 50%;
            bottom: -50%;
            transform: translateX(-28%);
            visibility: hidden;

        }
        &:hover{
            background-color: $main-color;
        }
        &:hover h3{
            color:white;
            span{
                color:white;
            }
        }
        &:hover .caption{
            visibility: visible;
        }

    }
    // .schedule_card1{
    //     background-color: $main-color!important;
    //     color:white;
    //     position: relative;
    //     h3{
    //         color:white;
    //         span{
    //             color:white;
    //         }
    //     }
    //     .caption{
    //         position: absolute;
    //         background: $main-color;
    //         clip-path: polygon(0 0, 50% 50%, 100% 0);
    //         width: 5rem;
    //         height: 5rem;
    //         visibility: visible!important;
    //        left: 50%;
    //        bottom: -50%;
    //         transform: translateX(-28%);

    //     }
    // }
    .tab-card{
        padding: 2.5rem;
        box-shadow: 0px 0px 2px 0px rgba(155,89,182,0.7);

        .clock {
            font-size: 1.5rem;
            color: purple;
            i{
               color:gray;
               font-size:1.2rem;
            }
        }
        h2{
            font-size: 2.7rem;
            font-weight: 700;
            margin:1.5rem 0;
        }
        p {
            font-size: 1.7rem;
            margin-bottom: 2rem;
            font-weight: 500;
            opacity: .7;
        }
        .speaker-pro {
            display: flex;
            align-items: center;
            column-gap: 1.5rem;
            .speaker-img {
                width: 60px;
                height: 60px;
                border-radius: 1rem;
            }
            h5 {
                font-size: 1.8rem;
                font-weight: 700;
                color:$main-txt
            }
            h6{
                font-size: 1.6rem;
                font-weight: 700;
                color:$main-txt;
                opacity: .7;
            }
        }
        &:hover{
            box-shadow: 0px 2px 14px 0px rgba(155,89,182,0.75);
            border-radius: 1rem;
        }
     }
}

.gift{
    width: 100%;
    margin:5rem 0;
    background: $main-color;
    .gift-inner{
        .gift-img {
            display: flex;
            column-gap:1.5rem;
            .gift-column1{
                flex-basis: 50%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
           
            .gift-column {
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                row-gap: 1.5rem;
                img{
                    width: 100%;
                    height:100%;
                }
            }
        }
        .gift-content{
            h1 {
                color: white;
                font-size: 4.5rem;
                font-weight: 700;
            }
            .gift-list{
                margin:1.5rem 0;
                li {
                    margin-bottom: 1rem;
                    color: white;
                    font-size: 1.4rem;
                }
            }
            .get-ticket{
                @include cust-btn();
                background: white!important;
                color:$main-color!important;
                &:hover{
                    color:white!important;
                }
            }
        }
    }
}


.event{
    width: 100%;
    margin-top:8rem;
    margin-bottom: 8rem;
    .heading{
     @include heading_2();
        
    }
    .event_card{
        padding:3rem 3rem;
        background-color: white;
        text-align: center;
        box-shadow: 0px 0px 2px 0px rgba(155,89,182,0.7);
        img{
            margin-bottom: 2rem;
        }
        h1 {
            font-size: 3.3rem;
            font-weight: 800;
            color:$main-txt;
        }
        h2 {
            margin: 1.3rem;
            font-size: 3rem;
            font-weight: 700;
            color:$main-txt;
        }
        .event-card-list {
            margin-top: 3.2rem;
            margin-bottom: 2rem;
            li {
                border: 1px solid lightgray;
                padding: 1.8rem;
                font-size: 1.7rem;
                font-weight: 500;
                border-left: none;
                border-right: none;
                i{
                    color:$main-color;
                }
            }
            li:nth-child(1){
                border-bottom: none;
            }
            li:nth-child(2){
                border-bottom: none;
            }
        }
        .get-ticket{
            margin-top: 4rem;
            @include cust-btn();
            display: block;
        }
    }
}


.event_sponsor_brand{
    width: 100%;
    margin-top:8rem;
    margin-bottom: 8rem;
    .heading{
     @include heading_2();
        
    }
}

.latest_blog{
    width: 100%;
    margin-top:8rem;
    margin-bottom: 8rem;
    .heading{
     @include heading_2();
        
    }
    .latest_blog_card{
        .blog-img{
            width: 100%;
            height:22rem;
            overflow: hidden;
            img{
                width: 100%;
                height:100%;
                transition: transform .4s linear;
            }
            &:hover img{
                transform: scale(1.4);
            }
        }
        .blog-body{
            span {
                display: block;
                margin: 1rem 0;
                font-size: 1.4rem;
                color:$main-color
            }
            h3 {
                font-weight: 600;
                font-size: 3rem;
                color:$main-txt;
            }
            p {
                margin: 1.5rem 0 1.5rem 0;
                font-size: 1.5rem;
                color: gray;
                opacity: .9;
                line-height: 1.8;
            }
        }
        &:hover{
            box-shadow: 0px 2px 14px 0px rgba(155,89,182,0.75);
        }
    }
   
}

.map{
    width: 100%;
    height:70vh;
    margin-top:5rem;
    margin-bottom: 6rem;
    iframe{
        width: 100%;
        height:100%;
    }
}