.hero_speaker{
    margin:10rem 0;
    width: 100%;
    height:65vh;
    background-image:linear-gradient(#9b59b6ab,#9b59b6ab), url(../images/speaker3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &_container{
        padding:10rem;
        h1{
            color:white;
            font-weight: 800;
            font-size: 5.3rem;
            margin-bottom: 2rem;
        }
        .bread-crumb{
            color:white;
            font-size:1.8rem;
            a{
                color:white;
            }
            span{
                padding:0 1rem;
            }
        }
    }
}

.speaker-detail{
    margin-bottom: 8rem;
    width: 100%;
    &-container{
        max-width: 85vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-gap:4rem;
        .speaker-detail-card{
            width: 100%;
            .img-box{
                width: 100%;
                height:30rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
           
            .web-link {
                width: 100%;
                /* height: 10vh; */
                background: $main-color;
                padding: 2rem;
                text-align: center;
                font-size: 1.5rem;
                color: white;
            }
            .social-icon {
                padding: 2rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                a{
                    font-size: 1.5rem;
                    color:gray;
                }
            }
        }

        .speaker-detail-content{
            .author {
                font-size: 4rem;
                font-weight: 700;
                color:$main-txt;
            }
            .desig {
                font-weight: 500;
                font-size: 2rem;
                color: gray;
                margin-bottom: 4rem;
            }
            h3 {
                font-size: 2.5rem;
                font-weight: 800;
            }
            .para {
                font-size: 1.7rem;
                line-height: 1.8;
                margin-top: 2rem;
            }
        }
    }
}